@{
    ViewBag.Title = "Home Page";
}
<div id="fb-root"></div>
<script>
    function init_map() {
        var var_location = new google.maps.LatLng(51.924456, 4.509992);

        var var_mapoptions = {
            center: var_location,
            zoom: 17
        };

        var var_marker = new google.maps.Marker({
            position: var_location,
            map: var_map,
            title: "Venice"
        });

        var var_map = new google.maps.Map(document.getElementById("map-container"),
            var_mapoptions);

        var_marker.setMap(var_map);

    }

    google.maps.event.addDomListener(window, 'load', init_map);

    window.fbAsyncInit = function () {
        FB.init({
            appId: '775650959125852',
            xfbml: true,
            version: 'v2.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

<div class="row">
    <div class="col-lg-3" style="border-right: 1px solid #eee;">
        <div class="col-sm-12" style="min-height: 100px; border-bottom: 1px solid #eee;">
            <p class="text-info">Facebook</p>
            <div class="fb-like" data-href="https://www.facebook.com/roerschamper?fref=ts" data-width="80" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            <p>Like onze Facebook pagina voor acties, updates en nieuws!</p>
        </div>
        <div class="col-sm-12" style="min-height: 100px; border-bottom: 1px solid #eee;">
            <p class="text-info">Bestel bij ons</p>
            <p>Indien u voor 17:00 besteld, morgen in huis!</p>
        </div>
        <div class="col-sm-12" style="min-height: 100px; border-bottom: 1px solid #eee;">
            <p class="text-info">Locatie</p>
            <div class="col-lg-12" id="map-container" style="min-height: 250px;"></div>
            <p>Bloemsierkunst Röer-Schamper</p>
            <p>Lusthofstraat 64B</p>
            <p>3061 WH Rotterdam</p>
        </div>
    </div>
    <div class="col-md-9">
        <p>Hier wordt content getoond van aanbiedingen, laatste nieuws, producten in de highlights etc.</p>
        <div id="map_canvas" style="width: 500px; height: 400px;"></div>
    </div>
    
</div>