@{
    ViewBag.Title = "Home Page";
}
<div id="fb-root"></div>

<div class="row">
    <div class="col-lg-3" style="border-right: 1px solid #eee;">
        <div class="col-sm-12" style="min-height: 100px; border-bottom: 1px solid #eee;">
            <p class="text-info">Facebook</p>
            <img src="~/Content/facebook-foto.jpg" style="width: 150px" />
            <div class="fb-like" data-href="https://www.facebook.com/roerschamper?fref=ts" data-width="80" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            <p>Like onze Facebook pagina voor acties, updates en nieuws!</p>
        </div>
        <div class="col-sm-12" style="min-height: 100px; border-bottom: 1px solid #eee;">
            <p class="text-info">Bestel bij ons</p>
            <p>Indien u voor 17:00 besteld, morgen in huis!</p>
        </div>
        <div class="col-sm-12" style="min-height: 100px; border-bottom: 1px solid #eee;">
            <p class="text-info">Locatie</p>
            <div class="col-lg-12" id="map-container" style="min-height: 250px;"></div>
            <address>
                <strong>Bloemsierkunst J.F. Röer - Schamper</strong><br>
                Lusthofstraat 64B<br>
                2061 WH, Rotterdam<br>
                <abbr title="Phone">T:</abbr> 010-4138848
            </address>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-lg-8" style="min-height: 300px; border-bottom: 1px solid #eee"><img src="http://placehold.it/500x250" /></div>  
        <div class="col-lg-4" style="min-height: 300px; border-bottom: 1px solid #eee">Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst Hier een hoop tekst
            <p><strong>Speciaal in de aanbieding!!</strong></p>
            <p class="text-muted">Geurbrander Wahallah</p>
            <p class="text-danger">Van <strike>€20,-</strike> naar €15,-</p>
        </div>  
        
        <div class="col-md-4" style="min-height: 250px; border-right: 1px solid #eee">
            <h3>Populair deze week</h3>
            <img src="http://placehold.it/225x225" />
            <strong>Geurstokken Vanilla</strong>
            <p class="text-center text-success">€29,-</p>
        </div>
        <div class="col-md-4" style="min-height: 250px;">
            <h3>Nieuw</h3>
            <img src="http://placehold.it/225x225" />
        </div>
        <div class="col-md-4" style="min-height: 250px; border-left: 1px solid #eee">
            <h3>Uitgelicht</h3>
            <img src="http://placehold.it/225x225" />
        </div>

    </div>
    
</div>