@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @*<div class="col-lg-3 shoppingcart">
        <p class="shoppingcart-title">Winkelwagen</p>
        <p> U heeft geen producten in uw winkelwagen.</p>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-sm-1">1x</div>
                    <div class="col-sm-9">Cardiffuser Appel-Lemon</div>
                    <div class="col-sm-2">€3.99</div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-sm-1">1x</div>
                    <div class="col-sm-9">Cardiffuser Appel-Lemon</div>
                    <div class="col-sm-2">€3.99</div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-sm-1">1x</div>
                    <div class="col-sm-9">Cardiffuser Appel-Lemon</div>
                    <div class="col-sm-2">€3.99</div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-sm-1">1x</div>
                    <div class="col-sm-9">Cardiffuser Appel-Lemon</div>
                    <div class="col-sm-2">€3.99</div>
                </div>
            </a>
        </div>
        <p class="shoppingcart-total">Totaal: <strong>€20.98</strong></p>
        <div class="row">
            <div class="col-xs-6">@Html.ActionLink("Naar winkelwagen", "Overview", "Shoppingcart", new { }, new {  })</div>
        </div>
    </div>*@
    <div class="col-md-12">
        <p>Hier wordt content getoond van aanbiedingen, laatste nieuws, producten in de highlights etc.</p>
    </div>
</div>