<li><a href="#" class="shoppingcart-link" data-container="body" data-toggle="popover" data-placement="bottom"><span class="glyphicon glyphicon-shopping-cart"></span>Shoppingcart: 0 items | €0.-</a></li>
