
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3" >
        Filter
    </div>
    <div class="col-lg-9" style="border-left: 1px solid #eee;">
        <div class="col-md-3 shopItem" style="border: 1px solid black; margin: 5px;">
            <img src="http://placehold.it/150x150" />
            <p>Titel van het product</p>
            <p>Prijs</p>

        </div>
    </div>
</div>

